{% include 'dialogue/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie DataBase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{% static "/style.css" %}" type="text/css">
    <script type="text/javascript" src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "/jsfile.js" %}"></script>
</head>
<body>
<div id="mainDiv">
    <div class="row" id="movies">
        <h1 style="margin:0 auto;">Movies</h1>
    </div>
<div class="row">
    <div class="row" style="text-align:center">
        {% for dialogue in latest_question_list %}
            <div class="col-md-4">
                <div class="movie_div">
                    <div>
                        <h6 class="title_header" style="">{{ dialogue.title }}</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="getMovie/{{ dialogue.imdb_id }}"><img class="movie_image" src="{{ dialogue.image }}" alt="{{ dialogue.title }}"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="div_info">
                       <div class="more_information">Year : {{ dialogue.year }}</div>
                        </div>
                        <div class="div_info">
                       <div class="more_information">Country :
                           {% for country_element in dialogue.country.all %}
                               {{ country_element.name }}
                           {% endfor %}
                       </div>
                        </div>
                        <div class="div_info">
                       <div class="more_information">Runtime : {{ dialogue.runtime }}</div>
                        </div>
                    <div class="div_info">
                    <div class="more_information"><p class="actor_main">Actors</p>
                           {% for actor_element in dialogue.actors.all %}
                               <a href="actor/{{ actor_element.link }}"class="actor">{{ actor_element.name }}</a>
                           {% endfor %}
                       </div>
                    </div>
                        <div class="div_movie_page">
                       <div class="movie_page"><a href="getMovie/{{ dialogue.imdb_id }}">Visit Movie Page</a></div>
                        </div>
                    </div>
                    </div>

                    <hr style="color:white">

                </div>
            </div>
        {% endfor %}
    </div>
</div>
    <hr>
<div class="row" id="movies">
        <h1 style="margin:0 auto;">TV-Series</h1>
    </div>
<div class="row">

    <div class="row" style="text-align:center">
        {% for dialogue in series_list %}
            <div class="col-md-4">
                <div class="movie_div">
                    <div>
                        <h6 class="title_header" style="">{{ dialogue.title }}</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://google.com"><img class="movie_image" src="{{ dialogue.image }}" alt="{{ dialogue.title }}"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="div_info">
                       <div class="more_information">Year : {{ dialogue.year }}</div>
                        </div>
                        <div class="div_info">
                       <div class="more_information">Country :
                           {% for country_element in dialogue.country.all %}
                               {{ country_element.name }}
                           {% endfor %}
                       </div>
                        </div>
                        <div class="div_info">
                       <div class="more_information">Runtime : {{ dialogue.runtime }}</div>
                        </div>
                    <div class="div_info">
                    <div class="more_information"><p class="actor_main">Actors</p>
                           {% for actor_element in dialogue.actors.all %}
                               <a href="actor/{{ actor_element.link }}"class="actor">{{ actor_element.name }}</a>
                           {% endfor %}
                       </div>
                    </div>
                        <div class="div_movie_page">
                       <div class="movie_page"><a href="getSeries/{{ dialogue.imdb_id }}">Visit Tv-Series Page</a></div>
                        </div>
                    </div>
                    </div>

                    <hr style="color:white">

                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
</body>
</html>