{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{% static "/style.css" %}" type="text/css">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
<body>

<div id="mainDiv">
    <div class="row" id="movies">
        <h1 style="margin:0 auto;">Movies</h1>
    </div>
    <div class="row" style="text-align:center">
        {% for dialogue in latest_question_list %}
            <div class="col-md-12">
                <div class="movie_div">
                    <div>
                        <h3 class="title_header" style="">{{ dialogue.title }}</h3>
                    </div>
                    <div class="row">
                    <div class="col-md-10">
                        <div class="div_info_movie">
                       <div class="more_information">Year : {{ dialogue.year }}</div>
                        </div>
                        <div class="div_info_movie">
                       <div class="more_information">Country : {{ dialogue.country }}</div>
                        </div>
                        <div class="div_info_movie">
                       <div class="more_information">Runtime : {{ dialogue.runtime }}</div>
                        </div>
                        {% for actor in dialogue.actors.all %}
                            <div class="actor_div">
                            {{ actor.name }}
                            </div>
                        {% endfor %}
                        <div class="div_info_movie">
                        <div class="plot_info">Plot : {{ dialogue.plot }}</div>
                            </div>

                    </div>
                        <div class="col-md-2">
                            <a href="http://google.com"><img class="movie_image" src="{{ dialogue.image }}" alt="{{ dialogue.title }}"></a>
                    </div>
                    </div>

                    <hr style="color:white">

                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>